
@model NiksoftCore.ViewModel.ContentCategoryRequest
@{
    ViewData["Title"] = "Create categories";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/ContentCategoryManage" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/ContentCategoryManage/Create" method="post" enctype="multipart/form-data">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="txtTitle" class="control-label">Title</label>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "Title", @class = "form-control", @id = "txtTitle" })
                </div>
                <div class="form-group">
                    <label for="txtIcon" class="control-label">Key</label>
                    @Html.TextBoxFor(m => m.KeyValue, new { placeholder = "Key", @class = "form-control", @id = "txtIcon" })
                </div>
                <div class="form-group">
                    <label for="ParentId" class="control-label">Parent Category</label>
                    <select class="form-control m-b" asp-for="ParentId" asp-items="ViewBag.Parents">
                        <option selected="selected" value="0">اselect</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtIcon" class="control-label">Icon</label>
                    @Html.TextBoxFor(m => m.Icon, new { placeholder = "Icon", @class = "form-control", @id = "txtIcon" })
                </div>
                <div class="form-group">
                    <label for="ImageFile" class="btn btn-outline-info">
                        Select Image
                        <input asp-for="ImageFile" type="file" class="d-none">
                    </label>
                </div>
                <div class="form-group">
                    <label for="txtDesc" class="control-label">Description</label>
                    @Html.TextAreaFor(m => m.Description, new { placeholder = "Description", @class = "form-control", @id = "txtDesc", rows = "3" })
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    $(document).ready(function () {

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });
</script>