
@model NiksoftCore.ViewModel.ContentRequest
@{
    ViewData["Title"] = "Create Content";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/ContentManage" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/ContentManage/Create" method="post" enctype="multipart/form-data">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="txtTitle" class="control-label">Title</label>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "Title", @class = "form-control", @id = "txtTitle" })
                </div>
                <div class="form-group">
                    <label for="txtKeyValue" class="control-label">Key</label>
                    @Html.TextBoxFor(m => m.KeyValue, new { placeholder = "key", @class = "form-control", @id = "txtKeyValue" })
                </div>
                <div class="form-group">
                    <label for="ParentId" class="control-label">Category</label>
                    <select class="form-control m-b" asp-for="CategoryId" asp-items="ViewBag.Categories">
                        <option selected="selected" value="0">Select Category</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="txtIcon" class="control-label">Icon</label>
                    @Html.TextBoxFor(m => m.Icon, new { placeholder = "Icon", @class = "form-control", @id = "txtIcon" })
                </div>
                <div class="form-group">
                    <label for="ImageFile" class="btn btn-warning">
                        Select File
                        <input asp-for="ImageFile" type="file" class="d-none" />
                    </label>
                </div>
                <div class="form-group">
                    <label for="txtHeader" class="control-label">Header Text</label>
                    @Html.TextAreaFor(m => m.Header, new { placeholder = "Text", @class = "form-control", @id = "txtHeader", rows = "3" })
                </div>
                <div class="form-group">
                    <label for="txtBodyText" class="control-label">Main Text</label>
                    @Html.TextAreaFor(m => m.BodyText, new { @class = "form-control text-editor", @id = "txtBodyText", rows = "8" })
                </div>
                <div class="form-group">
                    <label for="txtFooter" class="control-label">Footer Text</label>
                    @Html.TextAreaFor(m => m.Footer, new { placeholder = "Text", @class = "form-control", @id = "txtFooter", rows = "3" })
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    $(document).ready(function () {

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });
</script>