@using NiksoftCore.SystemBase.Service
@{
    ViewData["Title"] = "Content Management";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var contents = (List<GeneralContent>)ViewBag.Contents;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
    int pageNumber = 0;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/ContentManage/Create" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
    </div>
</div>

<br />
<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th class="text-primary text-center" width="30px">#</th>
                <th class="text-primary text-center">Title</th>
                <th class="text-primary text-center">Category</th>
                <th class="text-primary text-center">Image</th>
                <th class="text-primary text-center">Description</th>
                <th class="text-primary text-center" width="100px">Oprators</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contents)
            {
                pageNumber++;
            <tr>
                <td>@(pager.StartIndex + pageNumber)</td>
                <td>@item.Title</td>
                <td>
                    @item.ContentCategory.Title
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img src="/@item.Image" style="height: 70px; width: 70px;" />
                    }
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light" data-toggle="modal" data-target="#mod_@item.Id">Detail</button>
                    <div id="mod_@item.Id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title m-0" id="custom-width-modalLabel">Content Texts</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body text-left">
                                    <h4>Header Text</h4>
                                    <div>@Html.Raw(item.Header)</div>
                                    <h4>Main Text</h4>
                                    <div>@Html.Raw(item.BodyText)</div>
                                    <h4>Footer Text</h4>
                                    <div>@Html.Raw(item.Footer)</div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a href="/Panel/ContentManage/Edit?Id=@item.Id" class="btn btn-outline-warning btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="/Panel/ContentManage/Remove?Id=@item.Id" class="btn btn-outline-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="pager">
        @if (pager.TotalSize > pager.PageSize)
        {
            <ul class="pagination m-b-5">
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=1" aria-label="Previous">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>

                @for (int i = 1; i <= pager.GetTotalParts(); i++)
                {
                    if (pager.Part == i)
                    {
                        <li class="page-item active"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }

                }
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=@pager.GetTotalParts()" aria-label="Next">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
            </ul>
        }

    </div>
</div>