
@model NiksoftCore.ITCF.Service.BusinessRequest
@{
    ViewData["Title"] = "Business Edit";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/BusinessManage" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/BusinessManage/Edit" method="post">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="CoName" class="control-label">Company Name</label>
                    @Html.TextBoxFor(m => m.CoName, new { placeholder = "Name", @class = "form-control", @id = "CoName" })
                </div>
                <div class="form-group">
                    <label for="Tel" class="control-label">Tel</label>
                    @Html.TextBoxFor(m => m.Tel, new { placeholder = "Tel", @class = "form-control", @id = "Tel" })
                </div>
                <div class="form-group">
                    <label for="Email" class="control-label">Email</label>
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control", @id = "Email" })
                </div>
                <div class="form-group">
                    <label for="Website" class="control-label">Web Site</label>
                    @Html.TextBoxFor(m => m.Website, new { placeholder = "www.", @class = "form-control", @id = "Website" })
                </div>
                <div class="form-group">
                    <label for="CatgoryId" class="control-label">Category</label>
                    <select class="form-control m-b" asp-for="CatgoryId" asp-items="ViewBag.Categories">
                        <option selected="selected" value="0">select category</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="BusinessType" class="control-label">Business Type</label>
                    <select class="form-control m-b" asp-for="BusinessType">
                        <option selected="selected" value="0">select type</option>
                        <option selected="selected" value="1">تولیدی / کارخانه</option>
                        <option selected="selected" value="2">خدماتی / واسطه‌ای</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="CountryId" class="control-label">Country</label>
                    <select class="form-control m-b" asp-for="CountryId" asp-items="ViewBag.Country">
                        <option selected="selected" value="0">select country</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ddlProvince" class="control-label">Province</label>
                    <select class="form-control m-b" id="ddlProvince" name="ProvinceId">
                        <option selected="selected" value="0">select province</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ddlCity" class="control-label">City</label>
                    <select class="form-control m-b" id="ddlCity" name="CityId">
                        <option selected="selected" value="0">select city</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="IndustrialParkId" class="control-label">Industrial Park</label>
                    <select class="form-control m-b" asp-for="IndustrialParkId" asp-items="ViewBag.Parks">
                        <option selected="selected" value="0">select park</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtAddress" class="control-label">Address</label>
                    @Html.TextAreaFor(m => m.Address, new { placeholder = "Address", @class = "form-control", @id = "txtAddress", rows = "3" })
                </div>
                <div class="form-group">
                    <label for="txtLocation" class="control-label">google map</label>
                    @Html.TextAreaFor(m => m.Location, new { placeholder = "map", @class = "form-control", @id = "txtLocation", rows = "3" })
                </div>
                @Html.HiddenFor(m => m.Id)
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    var ddls = {
        country: 0,
        province: 0,
        city: 0,
        park: 0
    }

    $(document).ready(function () {
        $('#CountryId').change(function () {
            getProvince(this.value);
        });

        $('#ddlProvince').change(function () {
            getCity(this.value);
        });

        $('#ddlCity').change(function () {
            getPark(this.value);
        });

        ddls.country = $('#CountryId').val();
        ddls.province = @Model.ProvinceId ;
        ddls.city = @Model.CityId ;
        ddls.park = @Model.IndustrialParkId ;

        if (ddls.country > 0) {
            getProvince(ddls.country);
        }

        if (ddls.province > 0) {
            getCity(ddls.province);
        }

        if (ddls.city > 0) {
            getPark(ddls.park);
        }

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });

    function getProvince(cId) {
        callApi({
            url: '/api/base/AddressApi/GetProvince',
            data: { countryId: cId },
            success: function (response) {
                if (response.status == 200) {
                    dropdownBinder({
                        ddl: '#ddlProvince',
                        data: response.data
                    });

                    if (ddls.province > 0) {
                        setItemDropdown({
                            ddl: '#ddlProvince',
                            value: ddls.province
                        });
                    }
                }
            }
        });
    }

    function getCity(pId) {
        callApi({
            url: '/api/base/AddressApi/GetCity',
            data: { countryId: 0, provinceId: pId },
            success: function (response) {
                if (response.status == 200) {
                    dropdownBinder({
                        ddl: '#ddlCity',
                        data: response.data
                    });

                    if (ddls.city > 0) {
                        setItemDropdown({
                            ddl: '#ddlCity',
                            value: ddls.city
                        });
                    }
                }
            }
        });
    }

    function getPark(cId) {
        callApi({
            url: '/api/base/AddressApi/GetIndustrialPark',
            data: { cityId: cId },
            success: function (response) {
                if (response.status == 200) {
                    dropdownBinder({
                        ddl: '#IndustrialParkId',
                        data: response.data
                    });

                    if (ddls.park > 0) {
                        setItemDropdown({
                            ddl: '#IndustrialParkId',
                            value: ddls.park
                        });
                    }
                }
            }
        });
    }
</script>