@using NiksoftCore.ITCF.Service;
@{
    ViewData["Title"] = "پنل مدیریت - مدیریت کسب و کار";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var contents = (List<NiksoftCore.ITCF.Service.Business>)ViewBag.Contents;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
    int pageNumber = 0;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/BusinessManage/Create" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
    </div>
</div>

<br />
<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th class="text-primary text-center" width="30px">ردیف</th>
                <th class="text-primary text-center">نام شرکت/تولیدی</th>
                <th class="text-primary text-center">دسته بندی</th>
                <th class="text-primary text-center">نوع کسب و کار</th>
                <th class="text-primary text-center">سایر اطلاعات</th>
                <th class="text-primary text-center">وضعیت</th>
                <th class="text-primary text-center" width="100px">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contents)
            {
                pageNumber++;
                <tr>
                    <td>@(pager.StartIndex + pageNumber)</td>
                    <td>@item.CoName</td>
                    <td>@item.Category.Title</td>
                    <td>
                        @if (item.BusinessType == NiksoftCore.ITCF.Service.BusinessType.Production)
                        {
                            <span>کارخانه / تولیدی</span>
                        }
                        else
                        {
                            <span>خدماتی / واسطه ای</span>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light" data-toggle="modal" data-target="#detailes">جزئیات</button>
                        <div id="detailes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title m-0" id="custom-width-modalLabel">جزئیات کسب و کار</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body text-left">
                                        <h4>راه های ارتباطی</h4>
                                        <ul>
                                            <li>تلفن: @item.Tel</li>
                                            <li>ایمیل: @item.Email</li>
                                            <li>تارنما: @item.Website</li>
                                        </ul>
                                        <hr />
                                        <h4>اطلاعات آدرس</h4>
                                        <ul>
                                            <li>کشور: @item.Country.Title</li>
                                            <li>استان: @item.Province.Title</li>
                                            <li>شهر: @item.City.Title</li>
                                            @if (@item.IndustrialPark != null)
                                            {
                                                <li>منطقه اقتصادی: @item.IndustrialPark.Title</li>
                                            }
                                        </ul>
                                        <hr />
                                        <h4>آدرس</h4>
                                        <p>@item.Address</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">بستن</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        @Tools.GetStatusName(item.Status, "fa")
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="/Panel/BusinessManage/Edit?Id=@item.Id" class="btn btn-outline-warning btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/Panel/BusinessManage/Remove?Id=@item.Id" class="btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pager">
        @if (pager.TotalSize > pager.PageSize)
        {
            <ul class="pagination m-b-5">
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=1" aria-label="Previous">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>

                @for (int i = 1; i <= pager.GetTotalParts(); i++)
                {
                    if (pager.Part == i)
                    {
                        <li class="page-item active"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }

                }
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=@pager.GetTotalParts()" aria-label="Next">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
            </ul>
        }

    </div>
</div>