
@model NiksoftCore.ITCF.Service.IndustrialPark
@{
    ViewData["Title"] = "Edit Industrial Park";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/IndParkManage" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/IndParkManage/Edit" method="post">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="txtTitle" class="control-label">Title</label>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "عنوان", @class = "form-control", @id = "txtTitle" })
                </div>
                <div class="form-group">
                    <label for="CountryId" class="control-label">Country</label>
                    <select class="form-control m-b" asp-for="CountryId" asp-items="ViewBag.Country">
                        <option selected="selected" value="0">select country</option>
                    </select>
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ddlProvince" class="control-label">Province</label>
                    <select class="form-control m-b" id="ddlProvince" name="ProvinceId">
                        <option selected="selected" value="0">select province</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ddlCity" class="control-label">City</label>
                    <select class="form-control m-b" id="ddlCity" name="CityId">
                        <option selected="selected" value="0">select city</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtAddress" class="control-label">Address</label>
                    @Html.TextAreaFor(m => m.Address, new { placeholder = "Address", @class = "form-control", @id = "txtAddress", rows = "3" })
                </div>
                <div class="form-group">
                    <label for="txtLocation" class="control-label">Google Map</label>
                    @Html.TextAreaFor(m => m.Location, new { placeholder = "map", @class = "form-control", @id = "txtLocation", rows = "3" })
                </div>
                @Html.HiddenFor(m => m.Id, new { @value = Model.Id })
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    var ddls = {
        country: 0,
        province: 0,
        city: 0
    }

    $(document).ready(function () {
        $('#CountryId').change(function () {
            getProvince(this.value);
        });

        $('#ddlProvince').change(function () {
            getCity(this.value);
        });

        ddls.country = $('#CountryId').val();
        ddls.province = @Model.ProvinceId ;
        ddls.city = @Model.CityId ;

        if (ddls.country > 0) {
            getProvince(ddls.country);
        }

        if (ddls.province > 0) {
            getCity(ddls.province);
        }

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });

    function getProvince(cId) {
        callApi({
            url: '/api/base/AddressApi/GetProvince',
            data: { countryId: cId },
            success: function (response) {
                if (response.status == 200) {
                    dropdownBinder({
                        ddl: '#ddlProvince',
                        data: response.data
                    });

                    if (ddls.province > 0) {
                        setItemDropdown({
                            ddl: '#ddlProvince',
                            value: ddls.province
                        });
                    }
                }
            }
        });
    }

    function getCity(pId) {
        callApi({
            url: '/api/base/AddressApi/GetCity',
            data: { countryId: 0, provinceId: pId },
            success: function (response) {
                if (response.status == 200) {
                    dropdownBinder({
                        ddl: '#ddlCity',
                        data: response.data
                    });

                    if (ddls.city > 0) {
                        setItemDropdown({
                            ddl: '#ddlCity',
                            value: ddls.city
                        });
                    }
                }
            }
        });
    }
</script>