@{
    ViewData["Title"] = "پنل مدیریت - مدیریت دسته بندی ها";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var contents = (List<NiksoftCore.ITCF.Service.BusinessCategory>)ViewBag.Contents;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
    int pageNumber = 0;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/BusinessCategoryManage/Create" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
    </div>
</div>

<br />
<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th class="text-primary text-center" width="30px">ردیف</th>
                <th class="text-primary text-center">عنوان</th>
                <th class="text-primary text-center">دسته بالاتر</th>
                <th class="text-primary text-center">تصویر</th>
                <th class="text-primary text-center">توضیحات</th>
                <th class="text-primary text-center" width="100px">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contents)
            {
                pageNumber++;
            <tr>
                <td>@(pager.StartIndex + pageNumber)</td>
                <td>@item.Title</td>
                <td>@item.Parent.Title</td>
                <td>
                    <img src="@item.Image" style="max-height: 80px;" />
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a href="/Panel/BusinessCategoryManage/Edit?Id=@item.Id" class="btn btn-outline-warning btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="/Panel/BusinessCategoryManage/Remove?Id=@item.Id" class="btn btn-outline-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="pager">
        @if (pager.TotalSize > pager.PageSize)
        {
            <ul class="pagination m-b-5">
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=1" aria-label="Previous">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>

                @for (int i = 1; i <= pager.GetTotalParts(); i++)
                {
                    if (pager.Part == i)
                    {
                        <li class="page-item active"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }

                }
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=@pager.GetTotalParts()" aria-label="Next">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
            </ul>
        }

    </div>
</div>