
@model NiksoftCore.SystemBase.Service.PanelMenu
@{
    ViewData["Title"] = "ایجاد نقش";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/PanelMenuManage" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/PanelMenuManage/Edit" method="post">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="txtTitle" class="control-label">عنوان</label>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "عنوان", @class = "form-control", @id = "txtTitle" })
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
                <div class="form-group">
                    <label for="txtLink" class="control-label">لینک</label>
                    @Html.TextBoxFor(m => m.Link, new { placeholder = "لینک", @class = "form-control", @id = "txtLink" })
                    @Html.ValidationMessageFor(m => m.Link)
                </div>
                <div class="form-group">
                    <label for="txtController" class="control-label">نام ماژول</label>
                    @Html.TextBoxFor(m => m.Controller, new { placeholder = "نام ماژول", @class = "form-control", @id = "txtController" })
                    @Html.ValidationMessageFor(m => m.Controller)
                </div>
                <div class="form-group">
                    <label for="txtDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.Description, new { placeholder = "توضیح", @class = "form-control", @id = "txtDesc", rows = "3" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
                @Html.HiddenFor(x => x.Id, new { value = Model.Id })
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>