@using NiksoftCore.SystemBase.Service
@{
    var menus = (List<PanelMenu>)ViewBag.Menus;
}
<ul>
    @foreach (var item in menus)
    {
        @if (item.Childs.Count > 0)
        {
            <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect">
                    <i class="mdi mdi-layers"></i>
                    <span> @item.Title </span>
                    <span class="float-right"><i class="mdi mdi-plus"></i></span>
                </a>
                <ul class="list-unstyled">
                    @foreach (var subitem in item.Childs)
                    {
                        <li><a href="@subitem.Link">@subitem.Title</a></li>
                    }
                </ul>
            </li>
        }
        else
        {
            <li>
                <a href="@item.Link" class="waves-effect"><i class="mdi mdi-home"></i><span> @item.Title <span class="badge badge-pill badge-primary float-right">1</span></span></a>
            </li>
        }

    }
</ul>


