@using NiksoftCore.ITCF.Service;
@model NiksoftCore.ITCF.Service.IntroductionRequest
@{
    ViewData["Title"] = "ایجاد ویدیو";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
    var business = (Business)ViewBag.Company;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/CompanyDataManage/IntroList/?bid=@business.Id&unit=3" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/CompanyDataManage/CreatePart3" method="post" enctype="multipart/form-data">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="txtTitle" class="control-label">عنوان</label>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "عنوان", @class = "form-control", @id = "txtTitle" })
                </div>
                <div class="form-group">
                    <label for="Video" class="btn btn-info">
                        انتخاب ویدیو(حداکثر حجم 5 MB)
                        <input asp-for="Video" type="file" class="d-none" />
                    </label>
                </div>
                <div class="form-group">
                    <label for="txtDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.Description, new { placeholder = "توضیحات", @class = "form-control", @id = "txtDesc", rows = "3" })
                </div>
                @Html.HiddenFor(m => m.BusinessId)
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    $(document).ready(function () {

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });
</script>