@using NiksoftCore.ITCF.Service;
@model NiksoftCore.ITCF.Service.ProductRequest
@{
    ViewData["Title"] = "ایجاد دسته بندی";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
    var business = (Business)ViewBag.Company;
}

<h3>@business.CoName</h3>

<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/CompanyDataManage/Products/?bid=@business.Id" class="btn btn-outline-info btn-sm">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
@Html.ValidationSummary()
<form action="/Panel/CompanyDataManage/EditProduct" method="post" enctype="multipart/form-data">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label for="CatgoryId" class="control-label">دسته بندی</label>
                    <select class="form-control m-b" asp-for="GroupId" asp-items="ViewBag.Groups">
                        <option selected="selected" value="0">انتخاب کنید</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtTitle" class="control-label">عنوان</label>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "عنوان", @class = "form-control", @id = "txtTitle" })
                </div>
                <div class="form-group">
                    <div class="btn-groupx">
                        <label for="ImageFile" class="btn btn-primary">
                            انتخاب تصویر
                            <input asp-for="ImageFile" type="file" class="d-none" />
                        </label>
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <img src="/@Model.Image" style="max-width:100px;" />
                        }
                        <label for="VideoFile" class="btn btn-info">
                            انتخاب ویدیو
                            <input asp-for="VideoFile" type="file" class="d-none" />
                        </label>
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <span>@Model.VideoFile</span>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.Description, new { placeholder = "توضیحات", @class = "form-control", @id = "txtDesc", rows = "3" })
                </div>
                @Html.HiddenFor(m => m.BusinessId)
                @Html.HiddenFor(m => m.Id)
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    $(document).ready(function () {

        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }


    });
</script>