@using NiksoftCore.ITCF.Service;
@{
    ViewData["Title"] = "مدیریت محتوا";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var contents = (List<NiksoftCore.ITCF.Service.Introduction>)ViewBag.Contents;
    var pager = (NiksoftCore.Utilities.Pagination)ViewBag.Pager;
    int pageNumber = 0;
    var business = (Business)ViewBag.Company;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/CompanyDataManage/@ViewBag.Create/?bid=@business.Id" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
        <a href="/Panel/CompanyDataManage/IntroHome/?bid=@business.Id" class="btn btn-outline-secondary btn-sm"><i class="fas fa-arrow-left"></i></a>
    </div>
</div>

<br />
<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th class="text-primary text-center" width="30px">ردیف</th>
                <th class="text-primary text-center">عنوان</th>
                <th class="text-primary text-center">تصویر</th>
                <th class="text-primary text-center">ویدیو</th>
                <th class="text-primary text-center">صوت</th>
                <th class="text-primary text-center">توضیحات</th>
                <th class="text-primary text-center" width="150px">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contents)
            {
                pageNumber++;
                <tr>
                    <td>@(pager.StartIndex + pageNumber)</td>
                    <td>@item.Title</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageFile))
                        {
                            <img src="/@item.ImageFile" style="max-height: 80px;" />
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.VideoFile))
                        {
                            <a href="/@item.VideoFile" class="btn btn-info btn-sm" target="_blank">نمایش ویدیو</a>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.SoundFile))
                        {
                            <a href="/@item.SoundFile" class="btn btn-info btn-sm" target="_blank">پخش صوت</a>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light" data-toggle="modal" data-target="#detailes">نمایش توضیحات</button>
                        <div id="detailes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title m-0" id="custom-width-modalLabel">توضیحات</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body text-left">
                                        <p>@item.Description</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">بستن</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="/Panel/CompanyDataManage/Edit?Id=@item.Id" class="btn btn-outline-warning btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/Panel/CompanyDataManage/Remove?bid=@item.BusinessId&unit=@ViewBag.Unit&Id=@item.Id" class="btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pager">
        @if (pager.TotalSize > pager.PageSize)
        {
            <ul class="pagination m-b-5">
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=1" aria-label="Previous">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>

                @for (int i = 1; i <= pager.GetTotalParts(); i++)
                {
                    if (pager.Part == i)
                    {
                        <li class="page-item active"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a href="@Context.Request.Path?part=@i" class="page-link">@i</a></li>
                    }

                }
                <li class="page-item">
                    <a class="page-link" href="@Context.Request.Path?part=@pager.GetTotalParts()" aria-label="Next">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
            </ul>
        }

    </div>
</div>