@model NiksoftCore.ViewModel.User.LoginRequest
@{
    ViewData["Title"] = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="page-title">
        <h1 class="text-center">Sign In</h1>
    </div>

    @Html.ValidationSummary()
    <form action="/Auth/Account/Login" method="post">
        <div class="logindiv">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="form-group">
                        <label for="TxtUsername" class="control-label">Username</label>
                        @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "form-control", @id = "TxtUsername" })
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>

                    <div class="form-group">
                        <label for="TxtPassword" class="control-label">Password</label>
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control", @id = "TxtPassword" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-dark btn-full btn-br-0">Sign In</button>
                    </div>
                    <p>
                        <a href="/Auth/Account/Register" class="">Not yet registered? Join our community</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>