
@model NiksoftCore.ViewModel.User.UserRegisterRequest
@{
    ViewData["Title"] = "ثبت نام";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Messages = (List<NiksoftCore.ViewModel.NikMessage>)ViewBag.Messages;
}
<div class="page-title">
    <h1 class="text-center">Registration in Presto</h1>
</div>
<form action="/Auth/Account/Register" method="post">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="form-group">
                    <label for="txtEmail" class="control-label">Email</label>
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control", @id = "txtEmail" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>

                <div class="form-group">
                    <label for="txtPhone" class="control-label">Phone Number</label>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Number", @class = "form-control", @id = "txtPhone" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>

                <div class="form-group">
                    <label for="txtPasword" class="control-label">Password</label>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control", @id = "txtPasword" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <div class="form-group">
                    <label for="txtPasswordConf" class="control-label">Confirm Password</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control", @id = "txtPasword" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-dark btn-full btn-br-0">Submit Now</button>
                </div>
                <br />
                <a href="/Auth/Account/Login">Already a member? Log in.</a>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        @if (Messages != null)
        {
            @foreach (var item in Messages)
            {
                if (item.Type == NiksoftCore.ViewModel.MessageType.Error)
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'error'
                    });
                    </text>
                }
                else
                {
                    <text>
                    showMessage({
                        text: '@item.Message',
                        type: 'success'
                    });
                    </text>
                }
            }
        }
    });
</script>