@model NiksoftCore.ITCF.Service.UserLegalForm;
@{
    ViewData["Title"] = "پنل مدیریت - فرم اطلاعات حقوقی";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
}

@Html.ValidationSummary()
<form action="/Panel/LegalForm" method="post">
    <div class="registerdiv">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.IsRegisteredCom, new { placeholder = "", @class = "form-check-input", @id = "chbIsRegisteredCom" })
                    <label for="chbIsRegisteredCom" class="form-check-label">آیا شرکت شما ثبت شده است؟</label>
                    @Html.ValidationMessageFor(m => m.IsRegisteredCom)
                </div>
                <div class="form-group">
                    <label for="txtRegDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.RegDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtRegDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.RegDesc)
                </div>
                <hr />
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.HasBusinessCard, new { placeholder = "", @class = "form-check-input", @id = "chbHasBusinessCard" })
                    <label for="chbHasBusinessCard" class="form-check-label">کارت بازرگانی دارید؟</label>
                    @Html.ValidationMessageFor(m => m.HasBusinessCard)
                </div>
                <div class="form-group">
                    <label for="txtBCardDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.BCardDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtBCardDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.BCardDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.HasEconomicCode, new { placeholder = "", @class = "form-check-input", @id = "chbHasEconomicCode" })
                    <label for="chbHasEconomicCode" class="form-check-label">کد اقتصادی برای صادرات ایزو و استانداردهایی دارید؟</label>
                    @Html.ValidationMessageFor(m => m.HasEconomicCode)
                </div>
                <div class="form-group">
                    <label for="txtEconomicCodeDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.EconomicCodeDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtEconomicCodeDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.EconomicCodeDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.HasExportExp, new { placeholder = "", @class = "form-check-input", @id = "chbHasExportExp" })
                    <label for="chbHasExportExp" class="form-check-label">آیا تابحال صادرات به کشورها داشته اید؟</label>
                    @Html.ValidationMessageFor(m => m.HasExportExp)
                </div>
                <div class="form-group">
                    <label for="txtExportExpDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.ExportExpDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtExportExpDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.ExportExpDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.IsMiddleman, new { placeholder = "", @class = "form-check-input", @id = "chbIsMiddleman" })
                    <label for="chbIsMiddleman" class="form-check-label">آیا واسطه هستید و تولیدی ندارید؟</label>
                    @Html.ValidationMessageFor(m => m.IsMiddleman)
                </div>
                <div class="form-group">
                    <label for="txtMiddlemanDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.MiddlemanDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtMiddlemanDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.MiddlemanDesc)
                </div>

                <div class="form-group">
                    <label for="txtCertifications" class="control-label">چه نوع گواهی دارید؟</label>
                    @Html.TextAreaFor(m => m.Certifications, new { placeholder = "توضیحات", @class = "form-control", @id = "txtCertifications", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.Certifications)
                </div>

                <div class="form-group">
                    <label for="txtProductionCapacity" class="control-label">ظرفیت تولیدی سالانه و نوع محصول چقدر است؟</label>
                    @Html.TextAreaFor(m => m.ProductionCapacity, new { placeholder = "توضیحات", @class = "form-control", @id = "txtProductionCapacity", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.ProductionCapacity)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.HasBrand, new { placeholder = "", @class = "form-check-input", @id = "chbHasBrand" })
                    <label for="chbHasBrand" class="form-check-label">برند یا لوگو دارید؟</label>
                    @Html.ValidationMessageFor(m => m.HasBrand)
                </div>
                <div class="form-group">
                    <label for="txtBrandDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.BrandDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtBrandDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.BrandDesc)
                </div>

                <div class="form-group">
                    <label for="txtExportCountries" class="control-label">کشورهای موردنظر برای صادرات شما؟</label>
                    @Html.TextAreaFor(m => m.ExportCountries, new { placeholder = "توضیحات", @class = "form-control", @id = "txtExportCountries", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.ExportCountries)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.HasCoBankAccount, new { placeholder = "", @class = "form-check-input", @id = "chbHasCoBankAccount" })
                    <label for="chbHasCoBankAccount" class="form-check-label">آیا شرکت ثبت شده حساب بانکی دارد؟</label>
                    @Html.ValidationMessageFor(m => m.HasCoBankAccount)
                </div>
                <div class="form-group">
                    <label for="txtCoBankAccountDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.CoBankAccountDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtCoBankAccountDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.CoBankAccountDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.HasOtherResidence, new { placeholder = "", @class = "form-check-input", @id = "chbHasOtherResidence" })
                    <label for="chbHasOtherResidence" class="form-check-label">آیا اقامت کشور دیگر دارید؟</label>
                    @Html.ValidationMessageFor(m => m.HasOtherResidence)
                </div>
                <div class="form-group">
                    <label for="txtOtherResidenceDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.OtherResidenceDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtOtherResidenceDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.OtherResidenceDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.HasRegBrandOther, new { placeholder = "", @class = "form-check-input", @id = "chbHasRegBrandOther" })
                    <label for="chbHasRegBrandOther" class="form-check-label">آیا برند خود را در کشور دیگر ثبت کرده اید؟</label>
                    @Html.ValidationMessageFor(m => m.HasRegBrandOther)
                </div>
                <div class="form-group">
                    <label for="txtRegBrandOtherDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.RegBrandOtherDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtRegBrandOtherDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.RegBrandOtherDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.IsFaBrand, new { placeholder = "", @class = "form-check-input", @id = "chbIsFaBrand" })
                    <label for="chbIsFaBrand" class="form-check-label">آیا برند فارسی و برند لاتین ندارید؟</label>
                    @Html.ValidationMessageFor(m => m.IsFaBrand)
                </div>
                <div class="form-group">
                    <label for="txtFaBrandDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.FaBrandDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtFaBrandDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.FaBrandDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.HasWebsite, new { placeholder = "", @class = "form-check-input", @id = "chbHasWebsite" })
                    <label for="chbHasWebsite" class="form-check-label">آیا سایت اینترنتی دارید؟</label>
                    @Html.ValidationMessageFor(m => m.HasWebsite)
                </div>
                <div class="form-group">
                    <label for="txtWebsiteDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.WebsiteDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtWebsiteDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.WebsiteDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.IsInternalProd, new { placeholder = "", @class = "form-check-input", @id = "chbIsInternalProd" })
                    <label for="chbIsInternalProd" class="form-check-label">آیا محصول شما نمونه ساخت داخل دارد؟</label>
                    @Html.ValidationMessageFor(m => m.IsInternalProd)
                </div>
                <div class="form-group">
                    <label for="txtInternalProdDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.InternalProdDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtInternalProdDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.InternalProdDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.HasCalcStandards, new { placeholder = "", @class = "form-check-input", @id = "chbHasCalcStandards" })
                    <label for="chbHasCalcStandards" class="form-check-label">آیا استانداردهای محاسبه بندی دارید؟</label>
                    @Html.ValidationMessageFor(m => m.HasCalcStandards)
                </div>
                <div class="form-group">
                    <label for="txtCalcStandardsDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.CalcStandardsDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtCalcStandardsDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.CalcStandardsDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.HasExportLicense, new { placeholder = "", @class = "form-check-input", @id = "chbHasExportLicense" })
                    <label for="chbHasExportLicense" class="form-check-label">یا محصول شما مجوز صادرات دارد؟</label>
                    @Html.ValidationMessageFor(m => m.HasExportLicense)
                </div>
                <div class="form-group">
                    <label for="txtExportLicenseDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.ExportLicenseDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtExportLicenseDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.ExportLicenseDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.HasReqInternalBranding, new { placeholder = "", @class = "form-check-input", @id = "chbHasReqInternalBranding" })
                    <label for="chbHasReqInternalBranding" class="form-check-label">آیا نیاز به برندسازی محصول خود در ایران دارید؟</label>
                    @Html.ValidationMessageFor(m => m.HasReqInternalBranding)
                </div>
                <div class="form-group">
                    <label for="txtReqInternalBrandingDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.ReqInternalBrandingDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtReqInternalBrandingDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.ReqInternalBrandingDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.IntExternalInves, new { placeholder = "", @class = "form-check-input", @id = "chbIntExternalInves" })
                    <label for="chbIntExternalInves" class="form-check-label">آیا تمایل به سرمایه گذاری برای تولید در کشور دیگر دارید؟</label>
                    @Html.ValidationMessageFor(m => m.IntExternalInves)
                </div>
                <div class="form-group">
                    <label for="txtExternalInvesDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.ExternalInvesDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtExternalInvesDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.ExternalInvesDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.IntVisitFactories, new { placeholder = "", @class = "form-check-input", @id = "chbIntVisitFactories" })
                    <label for="chbIntVisitFactories" class="form-check-label">آیا تمایل به بازدید از کارخانجات صنعتی دارید؟</label>
                    @Html.ValidationMessageFor(m => m.IntVisitFactories)
                </div>
                <div class="form-group">
                    <label for="txtVisitFactoriesDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.VisitFactoriesDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtVisitFactoriesDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.VisitFactoriesDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.CanVisitYouFactory, new { placeholder = "", @class = "form-check-input", @id = "chbCanVisitYouFactory" })
                    <label for="chbCanVisitYouFactory" class="form-check-label">آیا امکان بازدید از کارخانجات شما وجود دارد؟</label>
                    @Html.ValidationMessageFor(m => m.CanVisitYouFactory)
                </div>
                <div class="form-group">
                    <label for="txtVisitYouFactoryDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.VisitYouFactoryDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtVisitYouFactoryDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.VisitYouFactoryDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.IntForeignMerchants, new { placeholder = "", @class = "form-check-input", @id = "chbIntForeignMerchants" })
                    <label for="chbIntForeignMerchants" class="form-check-label">آیا امکان ملاقات با تجار خارجی برای شما فراهم است؟</label>
                    @Html.ValidationMessageFor(m => m.IntForeignMerchants)
                </div>
                <div class="form-group">
                    <label for="txtForeignMerchantsDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.ForeignMerchantsDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtForeignMerchantsDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.ForeignMerchantsDesc)
                </div>

                <div class="form-group">
                    @Html.CheckBoxFor(m => m.IsReqOperationLicense, new { placeholder = "", @class = "form-check-input", @id = "chbIsReqOperationLicense" })
                    <label for="chbIsReqOperationLicense" class="form-check-label">آیا نیاز به صدور پروانه بهره وری برای کارخانجات داخلی دارید؟</label>
                    @Html.ValidationMessageFor(m => m.IsReqOperationLicense)
                </div>
                <div class="form-group">
                    <label for="txtReqOperationLicenseDesc" class="control-label">توضیحات</label>
                    @Html.TextAreaFor(m => m.ReqOperationLicenseDesc, new { placeholder = "توضیحات", @class = "form-control", @id = "txtReqOperationLicenseDesc", @rows = "2" })
                    @Html.ValidationMessageFor(m => m.ReqOperationLicenseDesc)
                </div>
                @Html.HiddenFor(x => x.Id, new { value = Model.Id })
                @Html.HiddenFor(x => x.UserId, new { value = Model.UserId })
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>

            </div>

        </div>
        
    </div>
</form>